* {
  font-family: arial;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 2px solid black;
  padding: 28px;
  margin: 10px;
}
thead {
  font-family: arial;
  font-size: 28px;
  color: red;
}
body {
  background-color: aquamarine;
}
h2 {
  text-align: center;
  color: blueviolet;
  font-size: 30px;
  font-weight: 600;
}
img {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 100px;
  margin-bottom: 20px;
}
